footer {
    background-color: red;
    color: white;
    align-items: center;
    padding-top: 30px;
    padding-left: 45%;
    padding-bottom: 30px;
}

h1 {
    padding-left: 2%;
    padding-top: 2%;
}

input {
    border-radius: 15%;
    border-style: solid;
    border-radius: 0px;
    border-width: 3px;
    border-color: black;
    width: 280px;
}

img{
    width: 45px;
    height: 75px;
}

#botonJugar{
    width: 280px;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#padreJugadasJuego {
    display: flex;
}

#inputTablero{
    padding: 5%;
}

#tablero{
    padding: 5%;
}

#parteMarron{
    background-color: burlywood;
}

#parteBeige{
    background-color: beige;
}

#vacio{
    padding: 25px;
}

#divFooter{
    padding-left: 8%;
    padding-right: 8%;
}